@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;700&display=swap");
p, a, h1, h2, h3, h4, h5, span, button, a, div, strong, span {
  font-family: "Changa", sans-serif;
  font-size: 18px;
  color: #fff;
}

html, body {
  width: 100%;
  background-color: #2a2a35;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Changa", sans-serif;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.navbar-nav a {
  align-self: center;
}

.rootContainer {
  width: 100%;
  margin: auto;
  z-index: 5;
  overflow: hidden;
}

.footer {
  margin-bottom: 10px;
  bottom: 10px;
}

.max-mint {
  color: red;
  text-align: center;
  font-size: 12px;
}

.countdown {
  margin-top: 0px;
  font-size: 48px;
}

.opensea-link {
  margin-right: 30px;
}

.game-logo {
  /* position: absolute; */
  width: 50%;
}

.header-big {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 120px;
  margin-top: 40px;
}

.treasure-img {
  margin-top: 80px;
  /* margin-bottom: 40px; */
}

.prizeContainer {
  display: flex;
  flex-direction: column;
}

.prizeElement {
  display: flex;
  align-items: center;
  align-self: center;
}

.donationContainer {
  display: flex;
  flex-direction: column;
}

.connect-btn {
  border-radius: 12px;
  padding: 5px 10px;
  background: #b963ff;
  border: transparent;
  color: white;
  font-size: 24px;
  font-weight: 700;
  display: inline;
}

.social-icon {
  height: 50px;
  background: transparent;
  text-align: center;
  padding: 10px 10px;
}

.navSocialIcons {
  background: transparent;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 48px;
  font-weight: 700;
  display: inline;
}

.button {
  padding: 10px 20px;
  height: 60px;
  border-radius: 12px;
  border: transparent;
  background: #b963ff;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}

.mintButtonClicked {
  padding: 10px 45px;
  border: 2px solid #fff;
  height: 60px;
  box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 40px;
  font-weight: 700;
}

.mintInput {
  padding: 10px 10px;
  padding-top: 16px;
  margin-left: -1px;
  text-align: center;
  width: 50px;
  height: 60px;
  margin-top: 0px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

.mintUpValue {
  position: absolute;
  margin-top: -5px;
  margin-left: -40px;
  padding: 10px 10px;
  height: 50px;
  border: none;
  background: transparent;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.mintDownValue {
  position: absolute;
  margin-top: 100px;
  margin-left: -39px;
  padding: 10px 10px;
  background: transparent;
  border: none;
  height: 50px;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.mintButtonClicked:hover {
  color: white;
  background-color: #000000;
}

.mintButtonClicked:hover+.mintInput {
  color: white;
  background-color: #000000;
  border: 2px solid white;
}

.mintSection {
  margin-right: 40px;
}

.nav {
  display: -webkit-flex;
  margin-top: -40px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
}

.address-connected {
  display: flex;
  margin-top: 80px;
  /* margin-right: 520px; */
  /* position: absolute; */
  z-index: 102;
  /* right: 0; */
  justify-content: flex-end;
}

.logos-nav {
  /* position: absolute; */
  /* left: 0; */
  margin-top: 35px;
  /* margin-left: 505px; */
  z-index: 100;
}

.totalMinted {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 0px;
}

.logo-hero {
  font-size: 5rem;
  margin: 15px 0 0;
  margin-top: 30px;
  text-align: left;
  display: flex;
  font-weight: bold;
  align-self: flex-start;
}

.math-art {
  width: 400px;
  display: flex;
  align-self: flex-end;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 100%;
}

.sub-hero {
  font-weight: 500;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 20px;
  width: 400px;
}

.nft-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #b963ff; */
  flex-wrap: wrap;
  padding: 80px;
}

.pricing .card {
  border: none;
  box-shadow: none;
  border-radius: 1rem;
  background: transparent;
}

.card-body {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 580px;
}

.card:hover {
  transform: scale(1.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 2rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: white;
}

.pricing .card-price {
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.fa-ul {
  color: white;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.nft-item {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.nft-item:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.2);
}

.nft-item:hover p {
  color: #b963ff;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
}

.info-section {
  display: flex;
  justify-content: center;
  max-width: 60ch;
  margin-inline: auto;
  padding-inline: 1rem;
  flex-direction: column;
  align-items: center;
}

.info-img {
  margin-top: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 00.5rem;
  display: flex;
  place-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.flex-left {
  display: flex;
  align-content: flex-start;
}

.flex-right {
  display: flex;
  align-self: flex-end;
}

.buy-btn {
  width: 50%;
  padding: 10px 0px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buy-btn:hover {
  transform: scale(1.15);
}

.nft-item-text {
  display: flex;
  align-self: center;
  color: white;
  margin-top: 20px;
}

.cta {
  width: 200px;
  padding: 5px 10px;
  background: #b963ff;
  border: transparent;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  display: inline;
  margin-left: 5px;
  margin-right: 20px;
}

.faq-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.faq-element {
  display: flex;
}

.hero-links {
  margin-top: 10px;
  justify-content: center;
  display: flex;
}

.hero-links a {
  margin: 10px 20px;
}

.hero-description {
  width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
}

.accordion-container {
  display: flex;
  flex-direction: row;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item {
  color: white;
  background-color: #2a2a35;
  width: 400px;
}

.faq-link:hover {
  cursor: pointer;
}

.accordion-header {
  color: white;
  background-color: #b963ff;
  border-radius: 12px !important;
  margin-bottom: 20px;
}

.accordion-button {
  color: #fff;
  background-color: #b963ff;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #b963ff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.contractContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}

.contractButton {
  text-decoration: none;
  display: flex;
  justify-self: center;
  padding: 10px 10px;
  padding-bottom: 30px;
  height: 40px;
  box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 5px 0px 0px rgba(255, 255, 255, 0.75);
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 80px;
  font-weight: 600;
}

.faq-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.faq-item {
  display: flex;
  align-self: center;
  color: black;
}

.faq-img {
  display: flex;
  width: 600px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.card-style {
  border: 2px solid #fff !important;
  box-shadow: 5px 5px 0px 0px #fff;
  -webkit-box-shadow: 5px 5px 0px 0px #fff;
  -moz-box-shadow: 5px 5px 0px 0px #fff;
  padding: 20px;
  margin: 40px;
  background-color: transparent;
  color: white;
  width: 300px;
  height: 300px;
}

.card-style h3 {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}

.card-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .top-section {
    padding: 30px;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .top-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sub-hero {
    align-self: center;
    text-align: center;
  }
  .cta {
    display: flex;
    align-self: center;
    text-align: center;
    width: auto;
  }
  .math-art {
    width: 350px;
    margin-top: 80px;
  }
}

@media (max-width: 600px) {
  .hero-description {
    width: 300px;
  }
  .faq-img {
    width: 400px;
  }
  .logo-hero {
    font-size: 3rem;
    align-self: center;
  }
  .math-art {
    width: 250px;
    margin-top: 80px;
  }
  .logo-hero {
    font-size: 44px;
  }
  .sub-hero {
    margin-top: 40px;
    width: 300px;
  }
  .header-big {
    flex-direction: column;
  }
}

@media (max-width: 468px) {
  .top-section {
    margin-top: 20px;
  }
  .connect-btn {
    font-size: 16px;
    padding: 5px 10px;
  }
  /* .navSocialIcons {
    margin-bottom: 0px;
  }
  .address-connected {
    margin-top: 71px;
  } */
}

@media (max-width: 432px) {
  .contractButton {
    font-size: 10px;
  }
  .hero-links {
    margin-top: 20px;
  }
  .card-style {
    height: 500px;
  }
}